/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

*,
*::before,
*::after {
    box-sizing:         border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family:   'Lora';
    color: #484848;
    margin: 0 auto;
}

img{
    display:        block;
    max-width:      100%;
}

a{
     text-decoration: none;
}

ol, ul {
	list-style:      none;
}
blockquote, q {
	quotes:          none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content:         none;
}
table {
	border-collapse: collapse;
	border-spacing:  0;
}

button{
    cursor:         pointer;
}

/* CONFIGURATION START */

.container{
    width:          1220px;
    margin:         0 auto;
    padding:        0 15px;
}

.main{
    max-width: 1440px;
    margin: 0 auto;
}

/* CONFIGURATION END */

/* HEADER START */

.header-wrapper{
    display:            flex;
    justify-content:    space-between;
    align-items:        center;
    padding:            15px 0;
}

.nav-ul{
    display:            flex;
    gap:                51px;
}

.nav-link{
    font-size:          24px;
    font-weight:        400;
    color:            #484848;
    transition:         color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus{
    color: #3e7c17;
}

.address-ul{
    display:            flex;
    gap:                20px;
}

.addres-li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header-logo{
    fill: #5F8D4E;
}

.header-social-icon{
    fill: #484848;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-social-icon:hover{
    fill: #3E7C17;
}

/* HEADER END */

/* HERO START */

.hero{
    padding:            64px 0;
}

.wrapper-hero{
    display:            flex;
}

.wrapper-title{
    padding:            63px 0;
}

.title-main{
    font-size:          46px;
    font-weight:        500;
}

.span-title-name{
    color:            #5F8D4E;
    font-family:       'Caveat';
    font-size:          66px;
    font-weight:        400;
    line-height:        1.0773; 
}

.title-text{
    font-size:          30px;
    font-weight:        400;
    margin-top:         82px;
    max-width:          541px;
    line-height: 1.3;
}

.order-btn{
    margin-top:         30px;

    font-size:          26px;
    font-weight:        600;
    color:            #FFF;

    padding:            19px 58px;
    background-color: #5F8D4E;
    
    border:             0;
    border-radius:      10px;
    box-shadow:         0px 4px 7px 0px rgba(0, 0, 0, 0.13);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.order-btn:hover,
.order-btn:focus {
    box-shadow: 0px 0px 15px 1px #80FE44;
}

.wrapper-photo{
    max-width:          533px;
    max-height:         561px;
    padding:            25px 42px 26px 42px;
    border-radius:      250px 250px 0px 0px;
    border:             1px solid #3E7C17;
    position: relative;
}

.icon-stars{
    position: absolute;
    fill: #3e7c17;
}

.photo-marina-main{
    border-radius:      250px 250px 0px 0px;
    margin:             0 auto;
    box-shadow:         0px 6px 24px 0px rgba(95, 141, 78, 0.46);
}

.wrapper-facts{
    display: flex;
    width: 100%;
    height: 209px;
    border-radius: 150px;
    background: #C8E4B2;
    margin: 0 auto;
    margin-top: 66px;
    justify-content: center;
    align-items: center;
}

.facts-ul{
    display: flex;
    justify-content: center;
    gap: 178px;
    text-align: center;
}

.title-facts{
    font-size: 46px;
    font-weight: 500;
    color: #5F8D4E;
}

.facts-p{
    font-size: 28px;
    font-weight: 400;
    margin-top: 14px;
}

/* HERO END */

/* GIFT START */

.gift{
    padding: 64px 0;
}

.wrapper-gift{
    display: flex;
    justify-content: space-between;
}

.wrapper-title-gift{
    display: flex;
    flex-direction: column;
    gap: 24px 0;
    max-width: 688px;
}

.title-lvl-2{
    font-size: 46px;
    font-weight: 500;
    color: #5F8D4E;
}

.text-gift{
    font-size: 30px;
    font-weight: 400;
    line-height: 1.3;
}

.span-title-gift{
    color: #5F8D4E;
}

.gift-btn{
    font-size: 26px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #5F8D4E;
    color: #FFF;
    border: 0;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.13);
    padding: 17px 21px;
    max-width: 257px;
    margin-top: 40px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gift-btn:hover,
.gift-btn:focus{
    box-shadow: 0px 0px 15px 1px #80FE44;
}

/* GIFT END */

/* CONSULTATION START */

.consultation{
    padding: 64px 0;
}

.wrapper-consultation{
    text-align: center;
}

.consultation-type{
    display: flex;
    margin-top: 70px;
    gap: 40px;
}

.consultation-li:nth-child(even){
    background-color: #C8E4B2;
}

.consultation-type > img{
    border-radius: 10px;
}

.consultation-li{
    border-radius: 10px;
    border: 2px solid #5F8D4E;
    padding: 14px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.consultation-li:hover{
    box-shadow: 0px 5px 8px 1px #484848;
    
}

.title-consultation{
    font-size: 24px;
    font-weight: 500;
    color: #484848;
}

.consultation-ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.consultation-ul

.ul-li{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
}

.consultation-btn{
    font-size: 26px;
    font-weight: 600;
    color: #FFF;
    border: 0;
    background-color: #5F8D4E;
    padding:  10px 21px;
    border-radius: 10px;
    margin-top: 40px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.consultation-btn:hover,
.consultation-btn:focus{
    box-shadow: 0px 0px 15px 1px #80FE44;
}

/* CONSULTATION END */

/* ABOUT-ME START */

.about-me{
    padding: 64px 0;
    position: relative;
}

.wrapper-about-me{
    display: flex;
    justify-content: space-between;
    background-color: #C8E4B2;
    border-radius: 10px;
    padding: 55px 65px;
}

.wrapper-about-text{
    max-width: 437px;
}

.title-name{
    font-size: 46px;
    font-weight: 500;
}

.about-me-p{
    font-size: 20px;
    font-weight: 400;
    max-width: 420px;
    margin-top: 25px;
    line-height: 1.3;
}

.wrapper-about-photo > img{
    border-radius: 10px;
}

.wrapper-diploma{
    width: 100%;
    height: 233px;
    border-radius: 150px;
    background:#5F8D4E;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    overflow: hidden;
    display: flex;
    padding: 32px;
}

.diploma-ul{
    display: flex;
    align-items: center;
    gap: 31px;
}

.diploma-li > img{
    border-radius: 10px;
}

/* ABOUT-ME END */

/* TAKE-CONSILTATION START */

.take-consultation{
    margin-top: 180px;
    background-image: 
    
    linear-gradient(to bottom, 
      rgba(255 255 255 / 0.6),
      rgba(255 255 255 / 0.6)),

    
    url(../images/bc-form.jpg);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 55px;
}

.wrapper-consultation-form{
    text-align: center;
    padding: 40px 25px 50px;
}

.title-consultation-form{
    font-size: 32px;
    font-weight: 500;
}

.consultation-p{
    font-size: 28px;
    font-weight: 400;    
}

.wrapper-input-consultation{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 101px;
}

.input-consultation{
    border: 0;
    padding: 20px;
    background-color: transparent;
    border-bottom: 1px solid #484848;
}

.wrapper-consultation-btn{
    display: flex;
    justify-content: center;
    gap: 35px;
}

.take-consultation-btn{
    font-size: 26px;
    font-weight: 600;
    color: #FFF;
    border: 0;
    width: 265px;
    background-color: #5F8D4E;
    padding:  10px 21px;
    border-radius: 10px;
    margin-top: 40px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.take-consultation-btn:hover,
.take-consultation-btn:focus{
    box-shadow: 0px 0px 15px 1px #80FE44;
}

.about-consultation-btn{
    font-size: 26px;
    font-weight: 600;
    color: #484848;
    border: 2px solid #5F8D4E;
    background-color: transparent;
    padding:  10px 21px;
    border-radius: 10px;
    margin-top: 40px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-consultation-btn:hover,
.about-consultation-btn:focus{
    box-shadow: 0px 0px 15px 1px #80FE44;
}

/* TAKE-CONSILTATION END */

/* FEEDBACK START */

.feedback{
    padding: 150px 0;
    text-align: center;
}

.wrapper-feedback{
    display: flex;
    gap: 40px;
    margin-top: 80px;
}

.feedback-list{
    background-color: #5F8D4E;
    padding: 25px;
    color: #FFF;
    border-radius: 10px;
}

/* FEEDBACK START */

/* POSTS START */

.posts{
    background-image: url(../images/bc-posts.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 176px 410px;
    height: 687px;
    position: relative;
}

.wrapper-posts{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 45px 95px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-width: 616px;
}

.title-posts{
    font-size: 32px;
    font-weight: 500;
    line-height: 1.3;
    color: #5F8D4E;
    margin-bottom: 15px;
    text-align: center;
}

.posts-p{
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    max-width: 428px;
    margin: 0 auto;
    margin-bottom: 38px;
}

.posts-btn{
    background-color: #5F8D4E;
    padding: 10px 21px;
    font-size: 26px;
    font-weight: 500;
    border: 0;
    border-radius: 10px;
    color: #fff;
    width: 262px;
    margin: 0 auto;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.posts-btn:hover,
.posts-btn:focus{
    box-shadow: 0px 0px 15px 1px #80FE44;
}

/* POSTS END */

/* FORM START */

.form{
    padding: 150px 55px;
}

.wrapper-form{
    display: flex;
    gap: 73px;
}

.wrapper-form-feedback{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title-form{
    font-size: 46px;
    font-weight: 500;
    line-height: 1.3;
    color: #5F8D4E;
    margin-bottom: 15px;
    text-align: center;
}

.input-form{
    font-size: 20px;
    line-height: 1.3;
    padding: 18px 25px;
    border-radius: 10px;
    border: 1px solid;
}

.input-form-comments{
    font-size: 20px;
    line-height: 1.3;
    padding: 18px 25px;
    border-radius: 10px;
    border: 1px solid;
    resize: none;
}

.form-btn{
    background-color: #5F8D4E;
    padding: 10px 21px;
    font-size: 26px;
    font-weight: 500;
    border: 0;
    border-radius: 10px;
    color: #fff;
    width: 262px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus{
    box-shadow: 0px 0px 15px 1px #80FE44;
}

/* FORM END */

/* FOOTER START */

.footer{
    background-color: #484848;
    padding: 88px 0;
}

.wrapper-footer{
    display: flex;
    gap: 225px;
}

.footer-logo{
    fill: #C8E4B2;
}

.footer-address-link,
.footer-nav-li > a{
    text-decoration: 0;
    color: #fff;
    font-style: normal;
}

.footer-nav-ul,
.footer-address-ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.wrapper-footer-social{
    margin-top: 20px;
}

.footer-social-icon{
    fill: #fff;
}

.footer-nav-li:hover > a{
    color: #d6ffcd;
}

.footer-address-link:hover{
    color: #d6ffcd;
}

.footer-social-icon:hover{
    fill: #d6ffcd;
}

/* FOOTER END */

